body, div, h1, h2, h3, h4, h5, h5, p, ul, ol, li, dl, dt, dd { margin: 0; padding: 0;}
ul, ol, li { list-style-type: none;}
*{padding: 0;margin: 0;}
html,body{height: 100%;color: #747474;} 
a,a:hover{text-decoration: none;}
p{color: #979ea4;}
.brand-success{background-color: #5cb85c;}
.brand-info{background-color: #5bc0de;}
.brand-warning{background-color: #f0ad4e;}
.brand-danger{background-color: #d9534f;}
.color-success{color: #5cb85c;}
.color-info{color: #5bc0de;}
.color-warning{color: #f0ad4e;}
.color-danger{color: #d9534f;}


.header{position: static;width: 100%;/* height: 80px; *//*overflow: hidden;*/}
.header > .wrap{position: relative;height: 100%; }
.header .header-top{height: 80px;    background-color: #343536;}
.header .triangle{float: left; width: 0;height: 0;border-top: 40px solid transparent;border-left: 20px solid #3e3f40; border-bottom: 40px solid transparent; border-top-right-radius: 10px; }
.header .triangle i{font-size: 200px;}
.header .all{height: 80px;float: left;cursor: pointer;background-color: #3e3f40;line-height: 80px;padding: 0 20px;}
.header .all i{font-size: 22px;color: #fff;position: relative;top: 2px;}
.header .all > span{font-size: 18px;color: #fff;padding-left: 15px;font-weight: 600;}
.header .items{line-height: 79px;font-size: 18px;float: left;padding: 0 20px;font-weight: 600;cursor: default;height: 80px;}
.header .items span i{font-size: 20px;}
.header .logo{height: 80px;width: 80px;position: absolute;top: 0;left: 50%;}
.header .logo a{color: #fff;}
.header .logo a span{padding-left: 20px;}
.header .logo .logo-icon img{height: 44px;margin-top: 18px;}
.header .sidebar{display: block;margin-right: 40px;margin-top: 0;height: 80px;padding: 0;float: right;}
.header .sidebar ul{height: 80px;line-height: 80px;}
.header .sidebar ul li{float: left;cursor: default;}
.header .sidebar ul li .face{width: 50px;height: 50px;border-radius: 50%;overflow: hidden;float: left;margin-top: -10px;}
.header .sidebar ul li span{float: left;color: #6f7378; font-weight: 700;font-size: 18px;}
.header .sidebar ul li i{float: left;color: #6f7378;cursor: default;padding-left: 5px;font-size: 22px;}
.header .sidebar .search{width: 280px;color: #6f7378;height: 100%;display: block;overflow: hidden;}
.header .sidebar .search{height: 80px;width: 280px;    padding: 17px 0;float: left;}
.header .sidebar .search .wrap{position: relative;}
.header .sidebar .search input{border: none;border-bottom: 2px solid #6f7378;padding: 6px 30px 6px 0px;width: 260px;color: #6d8199;background-color: #343536;}
.header .sidebar .search ::-moz-placeholder { color: #6f7378; }
.header .sidebar .search ::-webkit-input-placeholder { color:#6f7378; }
.header .sidebar .search :-ms-input-placeholder { color:#6f7378; }
.header .sidebar .search input:focus{outline: none;}
.header .sidebar .search i.iconfont{position: absolute;right: 6px;top: 6px;cursor: pointer;}
.header .header-nav{height: 60px;border-bottom: 1px solid #ddd;background-color: #fff;font-size: 16px;}
.header .wrap .heder-nav-list{float: left;min-width: 80%;}
.header .wrap .header-nav ul li{float: left;line-height: 60px;padding:0 20px;}
.header .wrap .header-nav ul li span.title{height: 58px;display: block;cursor: pointer;color: #89949b;font-weight: 700;}
.header .wrap .header-nav ul li span.link{height: 2px;display: block;}
.header .wrap .header-nav ul li.on span.link{background-color: #4886ff;}
.header .wrap .header-nav ul li.on span.title{color: #3e3f40;}
.header .wrap .header-nav-add{float: right;line-height: 60px;}


.main{ height: 100%;height: calc(100% - 140px); position: static;overflow-x: hidden;}
.main > .wrap{position: relative;height: 100%;background-color: #fff;}

.nav{/* background-color: #343536; */padding:0;/* width: 280px;color: #6d8199;min-height: 100%; position: fixed;left: 0; display: block;overflow: hidden; */}

.nav .nav-list{width: 100%;}
.nav .nav-list ul li{line-height: 60px;cursor: default;    border-bottom: 1px solid #f0f0f0;}
.nav .nav-list ul li span.link{    width: 20px;height: 61px;background: #eee;display: block;float: left;}
.nav .nav-list ul li:hover span.link{background-color: #4886ff;}
/* .nav .nav-list ul li:hover a{background-color: #4886ff;color: #fff;} */
.nav .nav-list ul li.on{background-color: #fafafa;}
.nav .nav-list ul li.on span.link{background-color: #4886ff;}
.nav .nav-list ul li a .right{transition: all 0.3s;}
.nav .nav-list ul li a.move .right{transform: rotate(90deg);}
.nav .nav-list ul li a{color: #3e3f40;display: block;text-decoration: none;}
.nav .nav-list ul li a span{font-size: 18px;}
.nav .nav-list ul li i{padding: 0 12px;}
.nav .nav-list ul li i.right{float: right;}
.nav .nav-list ul li ul.submune{background-color: #fff;overflow: hidden;}
.nav .nav-list ul li ul.submune li{padding-left: 80px;line-height: 48px;border: none;}
.nav .nav-list ul li ul.submune li:hover{color: #4886ff;}

.content{ background-color: #fafafa; padding: 20px 30px 120px;margin-left: -1px;min-height: 100%;overflow: hidden; border-left: 1px solid #ddd;}

.widget{background-color: #fff;margin-bottom: 20px;padding-bottom: 20PX;border: 1px solid #f0f0f0;}
.widget .widget-header i{float: left;height: 60px;padding:10px;}
.widget .widget-header i.close{float: right;padding-top: 20PX;}
.widget .widget-header i.circular{font-size: 24px;color: #4886ff;padding-top: 10px;padding-right: 5px;}
.widget .widget-header h3{float: left;padding-top: 15px;}
.widget .widget-body .wrap{padding: 20px 15px;}

table,th{text-align: center;}
table tbody tr:hover{background-color: #f5f6f8;box-shadow: rgba(37, 188, 234, 0.8) 7px 5px 34px;}
.table-no-bordered thead th,.table-no-bordered td, .table-no-bordered th{border: none !important;text-align: center;} 
tbody tr{border-bottom: 1px solid #f5f6f8;text-align: center;}
tbody tr.last{border-bottom: none;} 
table thead{background-color: #f7f7f7;}
.table>thead>tr>th{border: none !important;}
table i.iconfont{color: #4886ff;font-size: 14px;font-weight: 400;}
table span.checked-box{position: relative;z-index: 2;} 
table span.checked-box i{position: absolute;left: -2px;top: 0px;display: none;}
table span.checked-box input.on{opacity: 0;filter:alpha(opacity=0);}

.pagenation{text-align: center;padding: 15px 0;}
.pagenation ul{display: inline-block;}
.pagenation ul li{padding: 6px 12px;border-radius: 4px;margin: 0 2px;float: left;color: #979ea4;font-size: 12px;cursor: pointer;border: 1px solid #dfe3e4;}
.pagenation ul li.on{background-color: #4886ff;}
.pagenation ul li.on a{color: #fff;}
.pagenation ul li.over{background-color: #dfe3e4;cursor: default;}
.pagenation ul li.over a{color: #979ea4;}

.form-control:focus{box-shadow:none;-webkit-box-shadow:none;}

.tabs .tabs-nav{height: 38px;position: relative;}
.tabs .tabs-nav .link{width: 100%;height: 1px;background-color: #dfe3e4;position: absolute;bottom: -3px;}
.tabs .tabs-nav .items{float: left;margin-right: 24px;line-height: 38px;padding: 0 34px;cursor: pointer;}
.tabs .tabs-nav .items i{padding-right: 10px;}
.tabs .tabs-nav .items:hover{color: #4886ff;}
.tabs .tabs-nav .items.on{color: #4886ff;border-bottom: 2px solid #4886ff;}
.tabs .tabs-content{padding: 20px 0px;}

.tabs-border .tabs-nav .items{border: 1px solid #dfe3e4;border-bottom: none;margin-right: 4px;border-radius: 4px 4px 0 0;background-color: #f5f6f8;padding-bottom: 1px;}
.tabs-border .tabs-nav .items.on{border-bottom: 1px solid rgba(0,0,0,0);background-color: #fff;position: relative;z-index: 2;}

.tabs-vertical .tabs-nav{width: auto;float: left;height: auto;}
.tabs-vertical .tabs-nav .link{width: 1px;height: 100%;bottom: 0px;right: 23px;}
.tabs-vertical .tabs-nav .items{float: none;padding: 8px 24px;}
.tabs-vertical .tabs-nav .items.on{color: #4886ff;border-right: 2px solid #4886ff;border-bottom: 0;}

.link-wait{background-color: #979ea4 !important;}
.link-process{background-color: #f04134 !important;}
.steps{line-height: 24px;}
.steps .items{float: left;margin-right: -45px;position: relative;}
.steps .items .step-head{float: left;font-size: 16px;background-color: #fff;padding-right: 10px;position: relative;z-index: 1;}
.steps .items .step-main{float: left;background-color: #fff;position: relative;}
.steps .items.step-wait{width: auto !important;}
.steps .link{height: 1px;background-color: #4886ff;width: 72%;position: absolute;top: 12px;    left: 17%;}
.steps .steps-step{position: relative;z-index: 2;}
.steps .items .step-head .step-head-inner i {font-size: 24px;color: #4886ff;}
.steps .items.step-wait .step-head .step-head-inner i {color: #979ea4;}
.steps .items .step-main .step-title {color: #979ea4;font-weight: 600;}
.steps .items .step-main .step-description {position: absolute;line-height: 1.6;color: #bcbcbc;}
.steps .items .step-head .step-head-inner span{width: 24px;height: 24px;display: block;border-radius: 50%;text-align: center;line-height: 24px;border: 1px solid #4886ff;}
.steps .items.step-finished .step-head .step-head-inner span{background-color: #4886ff;}
.steps .items.step-finished .step-head .step-head-inner span i{font-size: 16px;color: #fff;}
.steps .items.step-inProgress .step-head .step-head-inner span{border: 1px solid #4886ff;color: #4886ff;}
.steps .items.step-inProgress .step-main .step-title{color: #1b2435;}
.steps .items.step-wait .step-head .step-head-inner span{border: 1px solid #979ea4;color: #979ea4;}

.steps .items.step-Process .step-main .step-title{color: #f04134;}
.steps .items.step-Process .step-head .step-head-inner span{color: #f04134;border: 1px solid #f04134;}

.steps-vertical .items{float: none;}
.steps-vertical .items .step-main{position: static;width: calc(100% - 80px);text-align: justify;}
.steps-vertical .items .step-main .step-description{position: static;}
.steps-vertical .steps-step .link{width: 1px;min-height: 20px;left: 12px;height: 100%;}

.btn-primary{background-color: #4886ff;border: none;}
.btn-primary:hover{background-color: #3673ec;}
.btn-primary:focus{background-color: #195de1;}
.btn-sm{font-size: 12px;padding: 2px 10px;}

.oa-modal-content{display: none;}
.oa-modal-content .widget{width: 600px;margin: 0 auto;position: relative;z-index: 2;}
.oa-modal-content .bg{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,.5);}
.oa-modal-content .modal-btn{padding: 0 15px;text-align: right;}
.oa-modal-content .modal-btn a{display: inline-block;}

.carousel-list{overflow: hidden;}
.carousel-list .slick-track{width: 400%;position: relative;}
/* .carousel-list .slick-track img{width: 100vw;} */  
.carousel-list div{/* background: url(../img/list_1.jpg) no-repeat;height: 100%; *//* position: relative; */float: left;overflow: hidden;}
/*.carousel-list div h3{text-align: center;color: #fff;padding-top: 200px;}*/ 
.carousel-list .slick-list .slick-dots{ position: absolute;bottom: 10px;width: 100%;text-align: center;}
.carousel-list .slick-list .slick-dots li{position: relative;display: inline-block;cursor: default;}
.carousel-list .slick-list .slick-dots span{display: inline-block; border: 0;cursor: pointer;background: #fff;opacity: .3;filter:alpha(opacity=30);width: 16px;height: 3px;border-radius: 1px;outline: none;-webkit-transition: all .5s;transition: all .5s;}
.carousel-list .slick-list .slick-dots li.on span{width: 24px;opacity: 1;filter:alpha(opacity=100);}

.oa-collapse{border: 1px solid #dfe3e4;border-radius: 4px;overflow: hidden;}
.oa-collapse .oa-header{background-color: #f5f6f8;padding: 10px 15px;cursor: pointer;border-top: 1px solid #dfe3e4;margin-top: -1px;}
.oa-collapse .oa-header i.iconfont{transition: transform 0.3s;-webkit-transition: transform 0.3s; /* Safari */display: inline-block;}
.oa-collapse .oa-header.on i.iconfont{transform: rotate(90deg);-ms-transform:rotate(90deg); /* IE 9 */-webkit-transform:rotate(90deg); /* Safari and Chrome */}
.oa-collapse .oa-content{padding: 10px 15px;display: none;text-align: justify;}

.oa-collapse-border-less{border: none;}
.oa-collapse-border-less .oa-header{background:#fff;transition:background 0.2s;-webkit-transition:background 0.2s;border-bottom: 1px solid #dfe3e4;}
.oa-collapse-border-less .oa-header:hover{background:#f5f6f8;}

.popconfirm-position{position: relative;}
.popconfirm a{text-decoration: none;}
.popconfirm{position: absolute;background-color: #fff;display: none;border-radius: 4px;z-index: 10000;}
.arrow i{position: absolute;color: #fff;}
.popconfirm .popconfirm-modal{    box-shadow: 0 1px 3px rgba(0,0,0,.3);-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);}
.popconfirm .popconfirm-inner-content{padding: 8px 16px;}
.popconfirm .popconfirm-inner-content .popconfirm-message{padding: 8px 0 16px;font-size: 12px;}
.popconfirm .popconfirm-inner-content .popconfirm-btn{text-align: right;}
.arrow i{text-shadow: 0 1px 3px rgba(0,0,0,.3);-moz-text-shadow: 0 1px 3px rgba(0,0,0,.3);-webkit-text-shadow: 0 1px 3px rgba(0,0,0,.3);position: absolute;}
.arrow{position: relative;}
.arrow span{display: block;width: 16px;height: 5px;background: #ffffff;position: absolute;left: 50%;z-index: 10;top: -5px;}
.popconfirm-top .arrow i{bottom: -12px;left:50%;}
.popconfirm-top .arrow span{top: -5px;}
.popconfirm-bottom .arrow i{top: -100px;left:50%}
.popconfirm-bottom .arrow span{top: -88px;}
.popconfirm-left .arrow i{top: -43px;right: -12px;}
.popconfirm-left .arrow span{height: 16px;width: 4px;top: -39px;left: 208px;}
.popconfirm-right .arrow i{top: -43px;left: -12px;}
.popconfirm-right .arrow span{height: 16px;width: 4px;top: -39px;left: -1px;}

.dropdown .word-click{cursor: pointer;}
.dropdown-word-click .word-click i.iconfont{transition: transform 0.3s;-webkit-transition: transform 0.3s; /* Safari */display: inline-block;}
.dropdown-word-click .word-click i.iconfont.on{transform: rotate(-90deg);-ms-transform:rotate(-90deg); /* IE 9 */-webkit-transform:rotate(-90deg); /* Safari and Chrome */}