body, div, h1, h2, h3, h4, h5, h5, p, ul, ol, li, dl, dt, dd { margin: 0; padding: 0;}
ul, ol, li { list-style-type: none;}
*{padding: 0;margin: 0;}
html,body{height: 100%;color: #1b2435;} 
a,a:hover{text-decoration: none;}
p{color: #979ea4;}
h1,h2,h3,h4,h5,h6,td,tr,th{color: #1b2435;}

.hide{display: none;}

.header{position: static;width: 100%;height: 80px;}
.header > .wrap{position: relative;height: 100%;}
.header .logo{background-color: #0e1a2a;height: 80px;width: 280px;position: absolute;top: 0;}
.header .logo a{color: #fff;}
.header .logo a span{padding-left: 20px;}
.header .logo .logo-icon img{height: 60px;margin-top: 10px;}
.header .sidebar{background-color: #fff;display: block;margin-left: 280px;margin-right: 40px;margin-top: 0;height: 80px;padding: 0;float: right;}
.header .sidebar ul li{float: left;padding: 22px 15px;}
.header .sidebar ul li i{font-size: 24px;}
.header .sidebar ul li .face{width: 50px;height: 50px;border-radius: 50%;overflow: hidden;float: left;margin-top: -10px;}
.header .sidebar ul li span{float: left;color: #dfe3e4; padding-right:20px;}
.header .sidebar ul li i{float: left;color: #66809b;cursor: default;padding-left: 5px;}

.main{height: 100%;height: calc(100% - 80px);position: static;}
.main > .wrap{position: relative;height: 100%;}

.nav{background-color: #17283c;width: 280px;color: #6d8199;min-height: 100%;position: absolute;left: 0;top: 0;display: block;}
.nav .search{height: 160px;width: 280px;padding: 35px 10px 60px;}
.nav .search input{background-color: #162336;border: none;padding: 12px 60px 12px 8px;width: 260px;color: #6d8199;}
.nav .search input:focus{outline: none;}
.nav .search i.iconfont{position: absolute;right: 25px;top: 50px;cursor: default;}

.nav .nav-list{width: 280px;}
.nav .nav-list ul li{line-height: 60px;cursor: default;}
.nav .nav-list ul li:hover a{background-color: #4886ff;color: #fff;}
.nav .nav-list ul li.on{background-color: #0e1a2a;}
.nav .nav-list ul li a .right{transition: all 0.3s;}
.nav .nav-list ul li a.move .right{transform: rotate(90deg);}
.nav .nav-list ul li a{color: #6d8199;display: block;text-decoration: none;}
.nav .nav-list ul li a span{font-size: 18px;}
.nav .nav-list ul li i{padding: 0 24px;}
.nav .nav-list ul li i.right{float: right;}
.nav .nav-list ul li ul.submune{background-color: #162336;overflow: hidden;}
.nav .nav-list ul li ul.submune li{padding-left: 95px;line-height: 48px;}
.nav .nav-list ul li ul.submune li:hover{color: #4886ff;}

.content{background-color: #eee;display: block;margin-left: 280px;margin-right: 0;margin-top: 0;min-height: 100%;padding: 0;padding: 50px 45px;}

.widget{background-color: #fff;}
.widget .widget-header i{float: left;height: 60px;padding:20px;}
.widget .widget-header i.close{float: right;}
.widget .widget-header i.circular{font-size: 24px;color: #4886ff;padding-top: 10px;padding-right: 5px;}
.widget .widget-header h3{float: left;padding-top: 12px;}

table.table-no-bordered tbody tr:hover{background-color: #4886ff;box-shadow: rgba(37, 188, 234, 0.8) 7px 5px 34px;color: #fff;}